<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bonapetti.bonapetti">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--Android +10에 있고 " 앱이 백그라운드에서 실행 중일 때도 계속 업데이트를 받고 싶다면 " 문서에 따라 이 권한을 추가해야 합니다 :-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
